.portrait-grid img {
  display: block;
  padding: 10px;
  height: 400px;
  width: 400px;
  border-radius: 10%;
}

.pg1, .pg2, .pg3, .pg4, .pg5, .pg6, .pg7 {
  position: relative;
}

.middle {
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 10px;
  right: 0;
  height: 400px;
  width: 400px;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgb(76, 76, 103);
  border-radius: 7%;
}

.pg1:hover .middle,
.pg2:hover .middle,
.pg3:hover .middle,
.pg4:hover .middle,
.pg5:hover .middle,
.pg6:hover .middle,
.pg7:hover .middle {
  opacity: 1;
}

.middle-text {
  padding: 16px 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 10%;
}

@media screen and (min-width: 600px) {
  .portrait-grid {
    display: grid;
    gap: 10px;
  }
  .pg2 {
    grid-area: 1/2/2/3;
  }
  .middle {
    height: 250px;
    width: 250px;
  }
  .portrait-grid img {
    height: 250px;
    width: 250px;
  }
}
@media screen and (min-width: 1080px) {
  .portrait-grid {
    display: grid;
  }
  .pg3 {
    grid-area: 1/3/2/4;
  }
  .portrait-grid img {
    height: 300px;
    width: 300px;
  }
  .middle {
    height: 300px;
    width: 300px;
  }
}
.medbuttons {
  list-style-type: none;
  position: absolute;
  right: -240px;
  float: right;
}

.fa-laptop-code {
  color: #fff;
  background-color: #e17b77;
  padding-left: 10px;
}
.fa-laptop-code p {
  display: inline-block;
  padding: 0px 40px 0px 0px;
  margin: 0px 40px 0px 20px;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  text-decoration: underline;
  text-align: center;
}

.fa-twitter {
  color: #fff;
  background-color: #00aced;
  padding-left: 10px;
}
.fa-twitter p {
  display: inline-block;
  padding: 0px 40px 0px 0px;
  margin: 0px 40px 0px 20px;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  text-decoration: underline;
  text-align: center;
}

.fa-linkedin-in {
  color: #fff;
  background-color: #007bb6;
  padding-left: 10px;
}
.fa-linkedin-in p {
  display: inline-block;
  padding: 0px 40px 0px 0px;
  margin: 0px 40px 0px 20px;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  text-decoration: underline;
  text-align: center;
}

.fa-facebook-f {
  color: #fff;
  background-color: #3b5998;
  padding-left: 10px;
}
.fa-facebook-f p {
  display: inline-block;
  padding: 0px 40px 0px 0px;
  margin: 0px 40px 0px 20px;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  text-decoration: underline;
  text-align: center;
}

.fa-github {
  color: #fff;
  background-color: #333;
  padding-left: 10px;
}
.fa-github p {
  display: inline-block;
  padding: 0px 40px 0px 0px;
  margin: 0px 40px 0px 20px;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  text-decoration: underline;
  text-align: center;
}

.fa-laptop-code:hover,
.fa-twitter:hover,
.fa-linkedin-in:hover,
.fa-facebook-f:hover,
.fa-github:hover {
  -webkit-animation: moveToLeft 1.3s ease-in-out both;
          animation: moveToLeft 1.3s ease-in-out both;
}

@-webkit-keyframes moveToLeft {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-200px);
  }
}

@keyframes moveToLeft {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-200px);
  }
}
.container {
  font-family: sans-serif;
  background-color: #c3cfe2;
}

main {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 2px;
  border-radius: 15px;
  box-shadow: 0px 8px 8px 0px rgb(130, 129, 129);
  width: 500px;
  margin: 20px;
  overflow: hidden;
}

p {
  font-size: 25px;
  font-weight: 500;
  line-height: 50px;
  color: rgb(63, 62, 62);
  text-align: left;
  margin: 30px;
  padding: 15px;
}

#portrait {
  display: block;
  margin: auto;
  width: 150px;
  height: 150px;
  border: 5px solid #fff;
  border-radius: 100%;
  -o-object-position: center;
     object-position: center;
  transform: translateY(75px);
}

.footer {
  display: flex;
  flex-direction: column;
  height: 180px;
  background-color: #686de0;
  text-align: center;
}

.footer h2 {
  text-transform: uppercase;
  color: #fff;
  transform: translateY(70px);
}

.footer h3 {
  color: #c3cfe2;
  transform: translateY(45px);
}/*# sourceMappingURL=style.css.map */